*{
    margin:0;
    padding:0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color:aliceblue;
    line-height:1.6;
}

#welcome{
    background-image: url('../Images/pexels-mikhail-nilov-gamer.jpg');
    background-size:cover;
    background-position:center;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#welcome p{
    font-size: 18px;
}

.buttons .button{
    font-size: 18px;
    text-decoration:none;
    color: aliceblue;
    border:aliceblue 2px solid;
    padding: 10px, 24px;
    border-radius: 10px;
    margin-top:20px;
    width: 100px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;;
    scroll-behavior: smooth;
}

@media only screen and (device-width: 1280px),
only screen and (max-width:1280px) 
{ 
    .images {
    padding: 20px, 20px, 20px;
    margin-right: 30px;
    }
}

.buttons .button:hover{
    color: aqua;
    border: aqua 2px solid;
}

#about{
    background-image: url('../Images/pexels-soumil-kumar-keyboard.jpg');
    background-size:cover;
    background-position:center;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#about p{
    width: 35ch;
    font-size: 20px;
}